services:
  sso-svc:
    build: .
    container_name: sso-svc
    environment:
      - KV_VIPER_FILE=./config_docker.yaml
    ports:
      - "8001:8000"
    networks:
      - chains-net

  sso-svc-postgres:
    image: postgres:15
    container_name:  sso-svc-postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "7001:5432"
    volumes:
      - pgdata:/var/lib/postgresql/repo
    networks:
      - chains-net

volumes:
  pgdata:
  bundle:

networks:
  chains-net:
    external: true
