openapi: 3.0.0
info:
  description: SSO REST API for Cifra services
  title: Cifra SSO REST API
  version: 0.0.1
servers:
- url: /
paths:
  /test:
    post:
      description: Test
      responses:
        "201":
          description: successfully
      tags:
      - Test
components:
  schemas:
    LoginByEmail:
      properties:
        data:
          $ref: "#/components/schemas/LoginByEmail_data"
      required:
      - data
      type: object
    LoginByUsername:
      properties:
        data:
          $ref: "#/components/schemas/LoginByUsername_data"
      required:
      - data
      type: object
    Registration:
      properties:
        data:
          $ref: "#/components/schemas/Registration_data"
      required:
      - data
      type: object
    RegistrationAdmin:
      properties:
        data:
          $ref: "#/components/schemas/RegistrationAdmin_data"
      required:
      - data
      type: object
    RefreshSession:
      properties:
        data:
          $ref: "#/components/schemas/RefreshSession_data"
      required:
      - data
      type: object
    UpdatePassword:
      properties:
        data:
          $ref: "#/components/schemas/UpdatePassword_data"
      required:
      - data
      type: object
    UpdateUsername:
      properties:
        data:
          $ref: "#/components/schemas/UpdateUsername_data"
      required:
      - data
      type: object
    TokensPair:
      properties:
        data:
          $ref: "#/components/schemas/TokensPair_data"
      required:
      - data
      type: object
    AccessToken:
      properties:
        data:
          $ref: "#/components/schemas/AccessToken_data"
      required:
      - data
      type: object
    AccountSession:
      properties:
        data:
          $ref: "#/components/schemas/AccountSessionData"
      required:
      - data
      type: object
    AccountSessionData:
      properties:
        id:
          description: session id
          format: uuid
          type: string
        type:
          enum:
          - account_session
          type: string
        attributes:
          $ref: "#/components/schemas/AccountSessionAttributes"
      required:
      - attributes
      - id
      - type
      type: object
    AccountSessionAttributes:
      properties:
        account_id:
          description: account id
          format: uuid
          type: string
        created_at:
          description: session creation date
          format: date-time
          type: string
        last_used:
          description: last used date
          format: date-time
          type: string
      required:
      - account_id
      - created_at
      - last_used
      type: object
    AccountSessionsCollection:
      properties:
        data:
          items:
            $ref: "#/components/schemas/AccountSessionData"
          type: array
        links:
          $ref: "#/components/schemas/PaginationData"
      required:
      - data
      - links
      type: object
    Account:
      properties:
        data:
          $ref: "#/components/schemas/Account_data"
      required:
      - data
      type: object
    AccountEmail:
      properties:
        data:
          $ref: "#/components/schemas/AccountEmail_data"
      required:
      - data
      type: object
    Errors:
      description: Standard JSON:API error
      properties:
        errors:
          description: Non empty array of errors occurred during request processing
          items:
            $ref: "#/components/schemas/Errors_errors_inner"
          type: array
      required:
      - errors
      type: object
    PaginationData:
      properties:
        page_number:
          description: The current page number.
          example: 1
          format: int64
          type: integer
        page_size:
          description: The number of items per page.
          example: 10
          format: int64
          type: integer
        total_items:
          description: The total number of items available.
          example: 100
          format: int64
          type: integer
      required:
      - page_number
      - page_size
      - total_items
      type: object
    LoginByEmail_data_attributes:
      properties:
        email:
          description: The account's email address.
          example: example1312@gmail.com
          format: email
          type: string
        password:
          description: The account's password.
          example: StrongP@ssw0rd!
          format: password
          type: string
      required:
      - email
      - password
      type: object
    LoginByEmail_data:
      properties:
        type:
          enum:
          - login
          type: string
        attributes:
          $ref: "#/components/schemas/LoginByEmail_data_attributes"
      required:
      - attributes
      - type
      type: object
    LoginByUsername_data_attributes:
      properties:
        username:
          description: The account's username.
          example: user123
          type: string
        password:
          description: The account's password.
          example: StrongP@ssw0rd!
          format: password
          type: string
      required:
      - password
      - username
      type: object
    LoginByUsername_data:
      properties:
        type:
          enum:
          - login
          type: string
        attributes:
          $ref: "#/components/schemas/LoginByUsername_data_attributes"
      required:
      - attributes
      - type
      type: object
    Registration_data_attributes:
      properties:
        email:
          description: The account's email address.
          example: example1312@gmail.com
          format: email
          type: string
        password:
          description: The account's password.
          example: StrongP@ssw0rd!
          format: password
          type: string
        username:
          description: The account's username.
          example: example_user
          type: string
      required:
      - email
      - password
      - username
      type: object
    Registration_data:
      properties:
        type:
          enum:
          - register_account
          type: string
        attributes:
          $ref: "#/components/schemas/Registration_data_attributes"
      required:
      - attributes
      - type
      type: object
    RegistrationAdmin_data_attributes:
      properties:
        email:
          description: The account's email address.
          example: example1312@gmail.com
          format: email
          type: string
        password:
          description: The account's password.
          example: StrongP@ssw0rd!
          format: password
          type: string
        username:
          description: The account's username.
          example: admin
          type: string
        role:
          description: The role assigned to the registering account.
          enum:
          - admin
          - moderator
          example: admin
          type: string
      required:
      - email
      - password
      - role
      - username
      type: object
    RegistrationAdmin_data:
      properties:
        type:
          enum:
          - register_admin
          type: string
        attributes:
          $ref: "#/components/schemas/RegistrationAdmin_data_attributes"
      required:
      - attributes
      - type
      type: object
    RefreshSession_data_attributes:
      properties:
        refresh_token:
          description: The refresh token to generate a new access token.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
          type: string
      required:
      - refresh_token
      type: object
    RefreshSession_data:
      properties:
        type:
          enum:
          - refresh_session
          type: string
        attributes:
          $ref: "#/components/schemas/RefreshSession_data_attributes"
      required:
      - attributes
      - type
      type: object
    UpdatePassword_data_attributes:
      properties:
        old_password:
          description: The account's current password.
          example: OldP@ssw0rd!
          format: password
          type: string
        new_password:
          description: The account's password.
          example: StrongP@ssw0rd!
          format: password
          type: string
      required:
      - new_password
      - old_password
      type: object
    UpdatePassword_data:
      properties:
        type:
          enum:
          - update_password
          type: string
        attributes:
          $ref: "#/components/schemas/UpdatePassword_data_attributes"
      required:
      - attributes
      - type
      type: object
    UpdateUsername_data_attributes:
      properties:
        new_username:
          description: The account's new username.
          example: new_username123
          type: string
        password:
          description: The account's current password.
          example: CurrentP@ssw0rd!
          format: password
          type: string
      required:
      - new_username
      - password
      type: object
    UpdateUsername_data:
      properties:
        type:
          enum:
          - update_username
          type: string
        attributes:
          $ref: "#/components/schemas/UpdateUsername_data_attributes"
      required:
      - attributes
      - type
      type: object
    TokensPair_data_attributes:
      properties:
        access_token:
          description: Access Token
          type: string
        refresh_token:
          description: Refresh Token
          type: string
      required:
      - access_token
      - refresh_token
      type: object
    TokensPair_data:
      properties:
        id:
          description: account id
          format: uuid
          type: string
        type:
          enum:
          - tokens_pair
          type: string
        attributes:
          $ref: "#/components/schemas/TokensPair_data_attributes"
      required:
      - attributes
      - id
      - type
      type: object
    AccessToken_data_attributes:
      properties:
        refresh_token:
          description: The access token to generate a new access token.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
          type: string
      required:
      - access_token
      type: object
    AccessToken_data:
      properties:
        type:
          enum:
          - access_token
          type: string
        attributes:
          $ref: "#/components/schemas/AccessToken_data_attributes"
      required:
      - attributes
      - type
      type: object
    Account_data_attributes:
      properties:
        username:
          description: The username of the account
          type: string
        role:
          description: The role assigned to the account
          type: string
        status:
          description: The current status of the account
          type: string
        created_at:
          description: The date and time when the account was created
          format: date-time
          type: string
        updated_at:
          description: The date and time when the account was last updated
          format: date-time
          type: string
      required:
      - created_at
      - role
      - status
      - updated_at
      - username
      type: object
    Account_data:
      properties:
        id:
          description: account ID
          format: uuid
          type: string
        type:
          enum:
          - account
          type: string
        attributes:
          $ref: "#/components/schemas/Account_data_attributes"
      required:
      - attributes
      - id
      - type
      type: object
    AccountEmail_data_attributes:
      properties:
        email:
          description: The email address associated with the account
          format: email
          type: string
        verified:
          description: Indicates whether the email address has been verified
          type: boolean
        updated_at:
          description: The date and time when the email information was last updated
          format: date-time
          type: string
      required:
      - email
      - updated_at
      - verified
      type: object
    AccountEmail_data:
      properties:
        id:
          description: account ID
          format: uuid
          type: string
        type:
          enum:
          - account_email
          type: string
        attributes:
          $ref: "#/components/schemas/AccountEmail_data_attributes"
      required:
      - attributes
      - id
      - type
      type: object
    Errors_errors_inner:
      properties:
        title:
          description: "Title is a short, human-readable summary of the problem"
          example: Bad Request
          type: string
        detail:
          description: Detail is a human-readable explanation specific to this occurrence
            of the problem
          example: Request body was expected
          type: string
        status:
          description: Status is the HTTP status code applicable to this problem
          enum:
          - 400
          - 401
          - 403
          - 404
          - 409
          - 500
          example: 400
          type: integer
      required:
      - status
      - title
      type: object
